
.clipbookday{
	text-align: left  !important;
	border: 0px solid #d3d3d3 !important;
}
.clipbookday:hover{
	border: 0px solid #d3d3d3 !important;
}
.clipbookcount{
	width:30px;
	font-weight: bold;
}
.clipbooktd .ui-state-active{
	background: #787878 !important;
}
.dropdown-menu-basic {
	overflow-y: hidden !important;
	height: auto !important;
}
.clipbooktd{
	width: 50px !important;
}
.dropdown-menu-basic .ui-datepicker-next,.dropdown-menu-basic .ui-datepicker-prev{
	margin:8px !important;
}
.dropdown-menu-basic .ui-datepicker-year,.dropdown-menu-basic .ui-datepicker-month{
	/* opacity:0;filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	width:100px !important; */
	/* margin-left:-80px !important; */
}
.dropdown-menu-basic .ui-datepicker-year option,.dropdown-menu-basic .ui-datepicker-month option{
	/* background: white !important; */
}